* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  background-color: #fcf4c0;
}

/* HEADER */
header {
  background-color: #6dcca9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 10vh;
}
nav {
  width: 60%;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

nav ul li a:hover {
  color: aliceblue;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-evenly;
}

#about {
  height: 50vh;
  display: flex;
  justify-content: space-between;

  padding: 1rem;
}

#about p {
  border-left: 3px black solid;
  border-right: 3px black solid;
  border-radius: 12px;
  width: 80%;
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding: 1rem;
  text-align: center;
}

#projects {
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
#projects h1 {
  height: 5%;
}
#projects div {
  height: 100%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#contact {
  height: 50vh;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

#contact ul {
  border-left: 3px black solid;
  border-right: 3px black solid;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  width: 80%;
}

#contact ul li {
  list-style: none;
  font-size: 1.4rem;
}

#contact ul li a {
  text-decoration: none;
  color: black;
}

#contact ul li a:hover {
  font-size: 1.6rem;
  color: #6dcca9;
}

img {
  max-width: 100%;
  max-height: 100%;
  margin: 1rem 0;
  border: 3px black solid;
  border-radius: 12px;
}

@media only screen and (min-width: 1020px) {
  #contact ul {
    flex-direction: row;
    justify-content: space-evenly;
  }

  img {
    width: 49%;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }
  nav ul li a {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1280px) {
  img {
    max-width: 100%;
  }

  #contact {
    height: 25vh;
  }
}
